<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="1000000"/>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <httpRuntime maxRequestLength="1000000"
             maxQueryStringLength="1000000"
             maxUrlLength="1000000"
             executionTimeout="30000"/>
    </system.web>
</configuration>
