<div class="line-height-1-4em">
	<div class="font-14px font-type1"><center><b>KETENTUAN UMUM LELANG NON EKSEKUSI SUKARELA PT BALAI LELANG SERASI</b></center></div><br />

	<div class="font-12px font-type1">Sehubungan dengan keinginan Saya untuk mengikuti lelang di PT. BALAI LELANG SERASI, bersama ini Saya menyatakan
telah membaca, memahami dan menyetujui ketentuan umum lelang non eksekusi sukarela PT BALAI LELANG SERASI
dengan detail sebagai berikut:</div><br />

	<div class="font-12px font-type1">
		<ol>
			<li><b>INFORMASI LELANG,</b> selanjutnya disebut <b>“Obyek Lelang”.</b></li>
			A. Jenis Lelang : Non Eksekusi Sukarela<br />
			B. Proses Lelang : Terbuka dengan harga naik-naik dan/atau Tertutup dengan harga tertinggi sebagai pemenang.<br />
			C. PT. BALAI LELANG SERASI : PT BALAI LELANG SERASI<br />
			D. Cara Pembayaran : Seluruh pembayaran (Jaminan dan Pelunasan) ditujukan kepada Rekening <b>PT BALAI LELANG SERASI</b>
			<li><b>PERATURAN LELANG</b></li>
			<b>2.1. PADA SAAT OPEN HOUSE</b><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.1.1.</span>
				<span>Calon Peserta Lelang dapat melihat Obyek Lelang yang akan di lelang selama acara Open House.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.1.2.</span>
				<span class="titip-subcontent">Calon Peserta Lelang hanya diperkenankan memeriksa kondisi fisik dan kelengkapan Obyek Lelang, dan tidak diperkenankan untuk melakukan bongkar pasang atau sejenisnya yang dapat merusak Obyek Lelang;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.1.3.</span>
				<span class="titip-subcontent">Calon Peserta Lelang dilarang mengambil atau merusak atribut, nomor, tulisan atau tanda-tanda yang menempel pada Obyek Lelang.</span>
			</span><br /><br />

			<b>2.2. KONDISI OBYEK YANG DILELANG</b><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.2.1.</span>
				<span>Kondisi Obyek Lelang dan dokumennya yang di lelang adalah “sebagaimana adanya”.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.2.2.</span>
				<span class="titip-subcontent">Calon Peserta Lelang wajib memeriksa, meneliti Obyek Lelang dan dokumennya yang akan di lelang serta mengetahui kondisi Obyek Lelang tersebut. Jika terdapat kekurangan atau cacat, baik yang terlihat maupun tak terlihat, pada fisik Obyek Lelang maupun dokumennya, bukan menjadi tanggung jawab/resiko PT. BALAI LELANG SERASI;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.2.3.</span>
				<span class="titip-subcontent">Untuk memudahkan para Calon Peserta Lelang, PT. BALAI LELANG SERASI menyediakan daftar lot yang berisi data Obyek Lelang yang hanya dijadikan panduan dalam memilih.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.2.4.</span>
				<span class="titip-subcontent">Dengan mengacu pada angka 2.2.2. ini, PT. BALAI LELANG SERASI tidak bertanggung jawab apabila terdapat perbedaan terhadap data, kondisi Obyek Lelang dan dokumennya yang tertera dalam daftar lot.</span>
			</span><br /><br />

			<b>2.3. TATACARA PENDAFTARAN SEBAGAI PESERTA LELANG</b><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.3.1.</span>
				<span class="titip-subcontent">Calon Peserta Lelang yang bermaksud mengikuti lelang harus melakukan transfer uang jaminan terlebih dahulu untuk mendapatkan Nomor Peserta Lelang (NPL), sebesar:</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">1.</span>
				<span>Rp. 5.000.000,- (lima juta rupiah) per unit mobil</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">2.</span>
				<span>Rp. 1.000.000,- (satu juta rupiah) per unit motor</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">3.</span>
				<span>Rp. 25.000.000,- (dua puluh lima juta rupiah) per unit alat berat</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">4.</span>
				<span>Rp. 100.000,- (seratus ribu rupiah) per unit gadget</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.3.2.</span>
				<span class="titip-subcontent">Uang jaminan di-transfer ke rekening PT BALAI LELANG SERASI yang harus sudah efektif pada saat pendaftaran Peserta Lelang;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.3.3.</span>
				<span class="titip-subcontent">Calon Peserta Lelang dapat mendaftar dan membeli NPL di website IBID dengan melakukan input data diri seperti KTP, Nomor Rekening Pengembalian, NPWP (jika memiliki);
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.3.4.</span>
				<span class="titip-subcontent">Peserta Lelang yang telah mendapatkan NPL tidak dapat memberikan NPL tersebut kepada atau digunakan oleh pihak lain.</span>
			</span><br /><br />

			<b>2.4. KETENTUAN PELAKSANAAN PROSES LELANG</b><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.4.1.</span>
				<span>Harga penawaran adalah kelipatan:</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">1.</span>
				<span>Rp. 500.000,- (lima ratus ribu rupiah) untuk mobil dan alat berat</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">2.</span>
				<span>Rp. 100.000,- (seratus ribu rupiah) untuk motor</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">3.</span>
				<span>Rp. 50.000,- (lima puluh ribu rupiah) untuk gadget</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">&nbsp;</span>
				<span class="titip-subcontent">di atas harga limit atau sebagaimana disampaikan oleh Pemandu Lelang. Pemenang Lelang adalah peserta lelang dengan pengajuan harga penawaran tertinggi;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.4.2.</span>
				<span>Peserta Lelang hanya berhak memenangkan Obyek Lelang sebanyak jumlah NPL yang dimiliki.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.4.3.</span>
				<span>Peserta Lelang yang dinilai mengacaukan jalannya proses lelang akan di-diskualifikasi/dikeluarkan dari arena lelang.</span>
			</span><br /><br />

			<b>2.5. KETENTUAN PASCA LELANG</b><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.1.</span>
				<span>Pemenang Lelang dikenakan biaya administrasi, sebesar:</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">1.</span>
				<span>Rp. 1.750.000,- (satu juta tujuh ratus lima puluh ribu rupiah) per unit mobil.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">2.</span>
				<span>Rp. 250.000,- (dua ratus lima puluh ribu rupiah) per unit motor.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">3.</span>
				<span>Rp. 5.000.000,- (lima juta rupiah) per unit alat berat.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">4.</span>
				<span>Dan nominal tertentu yang akan dicantumkan pada display unit lelang untuk obyek lelang gadget.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-10px margin-left-40px">5.</span>
				<span class="titip-subcontent2">Khusus Pejabat Lelang kelas I, pemenang lelang dikenakan BIAD sebesar 2% (dua persen) dari harga terbentuk (sesuai dengan peraturan pemerintah yang berlaku) atas lelang yang dimenangkannya;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.2.</span>
				<span class="titip-subcontent">Pemenang Lelang harus melunasi total harga lelang selambat-lambatnya 5 (lima) hari kerja setelah tanggal pelaksanaan lelang;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.3.</span>
				<span class="titip-subcontent">Pemenang Lelang yang sudah membayar lunas harga Lelang dan efektif di rekening PT. BALAI LELANG SERASI, dapat melakukan serah terima Obyek Lelang dan dokumennya;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.4.</span>
				<span class="titip-subcontent">Pemenang Lelang yang membatalkan diri pada satu atau beberapa Obyek Lelang yang dimenangkan atau tidak melunasi pembayaran sesuai dengan waktu yang telah ditetapkan, maka menurut ketentuan peraturan yang berlaku dinyatakan wanprestasi (kemenangannya batal) dan uang jaminan hangus;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.5.</span>
				<span class="titip-subcontent">Peserta Lelang wajib mengembalikan fisik NPL yang tidak dimenangkan kepada PT. BALAI LELANG SERASI pada saat atau setelah pelaksanaan lelang di lokasi lelang (apabila peserta lelang menggunakan NPL fisik);</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.6.</span>
				<span class="titip-subcontent">PT. BALAI LELANG SERASI di lokasi lelang tidak akan melakukan pengembalian uang jaminan Peserta Lelang yang kalah apabila tidak mengembalikan fisik NPL;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.7.</span>
				<span class="titip-subcontent">Pengembalian uang jaminan akan ditransfer ke rekening Peserta Lelang sebagaimana tercantum dalam form pendaftaran di website IBID dalam 1 (satu) hari kerja Bank;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.5.8.</span>
				<span class="titip-subcontent">Apabila sampai dengan 2 (dua) hari kalender setelah batas pelunasan yang telah ditetapkan Obyek Lelang belum juga diambil Pemenang Lelang, maka akan dikenakan biaya penitipan sebesar Rp. 500.000 (lima ratus ribu rupiah) per unit per hari keterlambatan, serta segala kerusakan dan atau kehilangan yang timbul pada Obyek Lelang sepenuhnya menjadi tanggung jawab Pemenang Lelang.</span>
			</span><br /><br />

			<b>2.6. KEADAAN KAHAR</b><br />
			<span class="margin-left-20px">Apabila terjadi KEADAAN KAHAR seperti bencana alam, kerusuhan massa dan tindakan pemerintah dalam bidang moneter, maka segala akibat dan atau kerugian yang timbul menjadi tanggung jawab Pemenang Lelang.</span><br />

			<b>2.7. KETENTUAN LAIN-LAIN</b><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.7.1.</span>
				<span class="titip-subcontent">Biaya yang timbul dalam rangka peralihan hak atau pengambilan/pemindahan kendaraan/Obyek Lelang menjadi tanggung jawab Pemenang Lelang;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.7.2.</span>
				<span>Obyek Lelang tidak bisa ditukar sebagian atau keseluruhan dengan objek lelang lain manapun;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.7.3.</span>
				<span class="titip-subcontent">Apabila terjadi pemblokiran dokumen Obyek Lelang oleh instansi yang berwenang, Pemenang Lelang dapat mengembalikan Obyek Lelang yang dimenangkan (buy back) atas persetujuan dari penitip atau pemilik Obyek Lelang;</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.7.4.</span>
				<span class="titip-subcontent">Dalam hal terdapat rekondisi terhadap Obyek Lelang yang dilakukan oleh Pemenang Lelang atau pihak lainnya, PT. BALAI LELANG SERASI tidak bertanggung jawab atas biaya yang timbul Pemenang Lelang membebaskan PT. BALAI LELANG SERASI dari segala tuntutan atas rekondisi tersebut.</span>
			</span><br />
			<span class="margin-left-20px">
				<span class="margin-right-6px">2.7.5.</span>
				<span class="titip-subcontent">Pemenang Lelang membebaskan PT. BALAI LELANG SERASI dari segala tuntutan baik secara perdata maupun pidana, yang timbul dikemudian hari atas Obyek Lelang.</span>
			</span><br /><br />
		<div>Demikian persetujuan ini Saya sampaikan, tanpa paksaan dari pihak manapun.</div>
	</div>
</div>